<nav class="navbar navbar-expand-sm navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/logo.jpg" alt="logo" style="width:80px;">
  </a>
  <h2 class="text">LBL learn,build better career</h2>
  
  <!-- Links -->
  <ul class="navbar-nav ml-md-auto">
    <li class="nav-item">
      <a class="nav-link links" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link links" href="#">Contact-Us</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mainheading">LBL</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 content">
      <img src="../../assets/images/images.png" alt="image" height="150px" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input class="search" type="search" placeholder="search" />
      <button type="button" class="btn"><i class="fa fa-search" style=color:black aria-hidden="true"></i></button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <img src="../../assets/images/download.png" alt="download" height="150px"/>
    </div>
    <div class="col-md-2"> </div>
  </div>
  <br>
  <div class="row">
    <button type="button" class="btn btn-lg btn-success btn-outline-info login" (click)="login()">Login</button>
  </div>
  <br>
  <div class="row">
    <button type="button" class="btn btn-lg btn-success btn-outline-info signup" (click)="signup()">Signup</button>
  </div>
</div>
<div class="footer">
    <label>Objectives:</label> 
    <p>LBL,next generation education software tool for Educational Institutions that used to handle student progress and the study material for students as not to interrupt their schedule.</p>
</div>